<ng-container *ngIf="( options$ | async ) as options; else loading">
  <div *ngIf="( forecast$ | async | filterByDate:options.time ) as forecast; else loading"
       class="parent"
       >
    <div class="div1"><app-temperature-chart [forecastData]="forecast"></app-temperature-chart></div>
    <div class="div2"><app-wind-chart [forecastData]="forecast"></app-wind-chart></div>
    <div class="div3"><app-precip-chart [forecastData]="forecast"></app-precip-chart></div>
  </div>
</ng-container>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

