<div class="parent">
  <div class="div1">
    <p class="mat-h1">Weather</p>
    <div>A weather forecast and conditions kiosk app.</div>
    <div>Copyright 2019 Dennis Meilicke. All rights reserved.</div>
    <div>
      <a target="_blank" href="https://github.com/dbm58/Weather">https://github.com/dbm58/Weather</a>
    </div>
    
    <div class="mat-h2">Credits</div>

    <div>The following were used to develop this application:</div>
  </div>

  <!--  todo:  consider using multi-column CSS -->

  <div class="div2">
    <p class="mat-h3">APIs:</p>
    <a href="'http://map.blitzortung.org/index.php'"         >blitzortung.org   </a>
    <a href="'https://www.cleverdevices.com/'"               >BusTime API       </a>
    <a href="'https://darksky.net/dev'"                      >Dark Sky API      </a>
    <a href="'http://realtime.ridemcts.com/bustime/home.jsp'">MCTS Real-Time API</a>
  </div>

  <div class="div3">
    <p class="mat-h3">Components:</p>
    <a href="'https://angular.io/'"                    >Angular         </a>
    <a href="'https://material.angular.io/'"           >Angular Material</a>
    <a href="'https://www.chartjs.org/'"               >Chart.js        </a>
    <a href="'https://github.com/motdotla/dotenv'"     >dotenv          </a>
    <a href="'https://momentjs.com/'"                  >Moment.js       </a>
    <a href="'https://nestjs.com/'"                    >NestJS          </a>
    <a href="'https://valor-software.com/ng2-charts/'" >ng2-charts      </a>
    <a href="'https://github.com/urish/ngx-moment'"    >ngx-moment      </a>
  </div>
</div>
<div class="info-container">

  


</div>


