<ng-container *ngIf="( options$ | async ) as options; else loading">
  <mat-grid-list *ngIf="( forecast$ | async | filterByDate:options.time ) as forecast; else loading"
                 cols="1"
                 rowHeight="32.9%"
                 >
    <mat-grid-tile>
      <app-temperature-chart [forecastData]="forecast"></app-temperature-chart>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-wind-chart [forecastData]="forecast"></app-wind-chart>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-precip-chart [forecastData]="forecast"></app-precip-chart>
    </mat-grid-tile>
  </mat-grid-list>
</ng-container>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

