mat-grid-list
{
  overflow: hidden;
}

app-temperature-chart, app-wind-chart, app-precip-chart
{
  box-shadow: 4px 4px 3px 1px #cccccc;
  border-radius: 10px;
  background-color:white;
  border: 1px solid white;
  width:90%;
  height:90%
}

mat-spinner
{
  position:  absolute;
  top:       50%;
  left:      50%;
  transform: translate(-50%, -50%);
}
