<div class="container">
  <a 
    routerLink="/charts" href="#">
    <div>
      <span class="temp">{{conditions.temperature | number:'1.0-0'}}&#176;</span>
      <span matTooltip="{{forecast.summary}}"
            matTooltipPosition="above"
            [ngClass]="['icon', 'wi', 'wi-dark-sky-' + conditions.icon]"></span>
    </div>
    <div class="temp-min-max">
      {{forecast.temperatureLow | number:'1.0-0'}}&#176; - 
      {{forecast.temperatureHigh | number:'1.0-0'}}&#176;
    </div>
    <div class="wind">
      Wind {{conditions.windSpeed | number:'1.0-0'}}
      <span [ngClass]="['wi', 'wi-wind', 'towards-' + conditions.windBearing + '-deg']"> </span>
      Gusts {{conditions.windGust | number:'1.0-0'}}
    </div>
    <div class="precip wi {{forecast.precipType | conditionIcon}}"
         matTooltip="{{forecast.precipType | titlecase}}"
         >
      {{forecast.precipProbability * 100 | number:'1.0-0'}}%
      <span *ngIf="forecast.precipAccumulation">({{forecast.precipAccumulation}}in)</span>
    </div>
  </a>
</div>
