

mat-sidenav-container
{
  height: 100%;
  background-color: inherit;
  color: white;
}

/*
mat-sidenav-content
{
  padding: 16px;
}
*/

mat-sidenav
{
  background-color: silver;
  #width: 200px;
  box-shadow: -3px 0px 3px 1px silver;
}
