<div class="parent">
  <div class="div1">
    <router-outlet></router-outlet>
  </div>
  <div class="div2">
    <div class="nav-bar">
      <app-nav-button routerLink="/home">home</app-nav-button>
      <app-nav-button routerLink="/radar">track_changes</app-nav-button>
      <app-nav-button routerLink="/precip" fontIcon="wi-raindrop">track_changes</app-nav-button>
      <app-nav-button routerLink="/lightning">flash_on</app-nav-button>
      <app-nav-button routerLink="/bus">directions_bus</app-nav-button>

      <div style="flex-grow:1;"></div>

      <app-nav-button routerLink="/info">info</app-nav-button>
    </div>
  </div>
</div>
