mat-icon, span.wi
{
  font-size:     7vmin;
  width:         7vmin;
  height:        7vmin;
  border:        4px solid #CCCCCC;
  border-radius: 10px;
  margin:        10px;
  padding:       1vmin;
}

span.wi
{
  text-align: center;
}

a
{
  color:           #CCCCCC;
  text-decoration: none;
}

