<div class="info-container">
  <div class="mat-display-4">Weather</div>
  <div>A weather forecast and conditions kiosk app.  Copyright 2019 Dennis Meilicke. All rights reserved.</div>
  <div>
    <a href="https://github.com/dbm58/Weather">https://github.com/dbm58/Weather</a>
  </div>
  
  <div class="mat-display-2">Credits</div>
  <p>The following components have been used in the development of this
  application:</p>

  <app-citation [href]="'https://angular.io/'"                    >Angular         </app-citation>
  <app-citation [href]="'https://material.angular.io/'"           >Angular Material</app-citation>
  <app-citation [href]="'https://www.chartjs.org/'"               >Chart.js        </app-citation>
  <app-citation [href]="'https://github.com/expressjs/cors'"      >cors            </app-citation>
  <app-citation [href]="'https://expressjs.com/'"                 >Express         </app-citation>
  <app-citation [href]="'https://github.com/typicode/json-server'">JSON Server     </app-citation>
  <app-citation [href]="'https://momentjs.com/'"                  >Moment.js       </app-citation>
  <app-citation [href]="'https://valor-software.com/ng2-charts/'" >ng2-charts      </app-citation>
  <app-citation [href]="'https://github.com/urish/ngx-moment'"    >ngx-moment      </app-citation>
  <app-citation [href]="'http://unirest.io/'"                     >unirest         </app-citation>
</div>
