<!--
  Look into wrapping mat-icon

  Maybe the last comment in https://stackoverflow.com/questions/36545478/angular-2-access-ng-content-within-component would be helpful?
-->
<mat-sidenav-container class="example-container">
  <mat-sidenav opened mode="side" position="end">
    <div style="display:flex; flex-direction:column; height:100%;">
      <a routerLink="/today" href="#"><mat-icon>home</mat-icon></a>
      <a routerLink="/radar" href="#"><mat-icon>track_changes</mat-icon></a>
      <a routerLink="/precip" href="#"><mat-icon>flash_on</mat-icon></a>
      <a routerLink="/week" href="#"><mat-icon>calendar_today</mat-icon></a>

      <div style="flex-grow:1;"></div>

      <a routerLink="/setup" href="#"><mat-icon>settings_applications</mat-icon></a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
