<mat-sidenav-container class="example-container">
  <mat-sidenav opened mode="side" position="end">
    <div style="display:flex; flex-direction:column; height:100%;">
      <app-nav-button routerLink="/today">home</app-nav-button>
      <app-nav-button routerLink="/radar">track_changes</app-nav-button>
      <app-nav-button routerLink="/precip" fontIcon="wi-raindrop">track_changes</app-nav-button>
      <app-nav-button routerLink="/lightning">flash_on</app-nav-button>
      <app-nav-button routerLink="/bus">directions_bus</app-nav-button>

      <div style="flex-grow:1;"></div>

      <app-nav-button routerLink="/info">info</app-nav-button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
