.container
{
  width:      100%;
  text-align: center;
}

.date-time-tile-time
{
  font-size: 15vmin;
}

.date-time-tile-date
{
  font-size: 5vmin;
  color:     #CCCCCC;
}

.trash-icons
{
  margin-top: 20px;
  color:      #CCCCCC;
}

.trash-icon
{
  margin-right: 10px
}
