<!--
  Documentation on image locations:  https://www.weather.gov/jetstream/ridge_download
-->
<div class="planetimage">
   <img src="https://radar.weather.gov/ridge/Overlays/Topo/Short/MKX_Topo_Short.jpg" class="base" />
   <img src="https://radar.weather.gov/ridge/Overlays/County/Short/MKX_County_Short.gif" class="overlay" style="z-index: 1" />
   <img src="https://radar.weather.gov/ridge/Overlays/Rivers/Short/MKX_Rivers_Short.gif" class="overlay" style="z-index: 1" />
   <img src="https://radar.weather.gov/ridge/Overlays/Highways/Short/MKX_Highways_Short.gif" class="overlay" style="z-index: 1" />
   <img src="https://radar.weather.gov/ridge/Overlays/Cities/Short/MKX_City_Short.gif" class="overlay" style="z-index: 1" />

   <img src="https://radar.weather.gov/ridge/RadarImg/{{overlay}}" class="overlay" style="z-index: 99" />
</div>


