.parent
{
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.tile
{
  border-radius: 10px;
  border: 2px solid white;
}

.div1
{
  grid-area: 1 / 1 / 4 / 4;
  background-color: #00002a;
}
.div2
{
  grid-area: 1 / 4 / 3 / 6;
}
.div3
{
  grid-area: 3 / 4 / 4 / 6;
}
.div4
{
  background-color: #CCCCCC;
  grid-area: 4 / 1 / 5 / 2;
}
.div5
{
  grid-area: 4 / 2 / 5 / 3;
}
.div6
{
  grid-area: 4 / 3 / 5 / 4;
}
.div7
{
  grid-area: 4 / 4 / 5 / 5;
}
.div8
{
  grid-area: 4 / 5 / 5 / 6;
}
