<div class="parent"
     *ngIf="forecast$ | async as forecast; else loading"
     >
  <div class="tile div1">
    <app-forecast-tile [conditions]="forecast.currently"
                       [forecast]="forecast.daily.data[0]"
                       ></app-forecast-tile>
  </div>
  <div class="tile div2">
    <app-date-time-tile></app-date-time-tile>
  </div>
  <div class="tile div3"> </div>
  <div *ngFor='let day of [1,2,3,4,5]'
       class="tile div{{day + 3}}"
       >
    <app-forecast-tile-small [forecast]="forecast.daily.data[day]">
    </app-forecast-tile-small>
  </div>
</div>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

