<div class="container">
  <a routerLink="/charts/{{forecast.time}}"
     href="#"
     >
    <div class="day">{{forecast.time | amFromUnix | amDateFormat: 'dddd'}}</div>
    <div matTooltip="{{forecast.summary}}"
         matTooltipPosition="above"
         [ngClass]="['wi', forecast.iconClass]"></div>
    <div class="temp">
      {{forecast.temperatureLow | number:'1.0-0'}}&#176; - 
      {{forecast.temperatureHigh | number:'1.0-0'}}&#176;
    </div>
    <div class="wind">
      Wind {{forecast.windSpeed | number:'1.0-0'}}
      <span [ngClass]="['wi', 'wi-wind', 'towards-' + forecast.windBearing + '-deg']"> </span>
      <span *ngIf="forecast.windGust"> Gusts {{forecast.windGust | number:'1.0-0'}}</span>
    </div>
    <div *ngIf="forecast.precipProbability"
	 class="precip wi {{forecast.precipType | conditionIcon}}"
         matTooltip="{{forecast.precipType | titlecase}}"
         matTooltipPosition="above"
         >
      {{forecast.precipProbability * 100 | number:'1.0-0'}}%
      <span *ngIf="forecast.precipAccumulation">({{forecast.precipAccumulation}}in)</span>
    </div>
  </a>
</div>

