/* You can add global styles to this file, and also import other style files */
@import "css/weather-icons-wind.min.css";
@import "css/weather-icons.min.css";

/*
 * Dark sky mappings for the weather icons.  This is taken from an unprocessed PR in the weather icons git repository.
 */
.wi-dark-sky-clear-day:before {
  content: "\f00d";
}
.wi-dark-sky-clear-night:before {
  content: "\f02e";
}
.wi-dark-sky-rain:before {
  content: "\f019";
}
.wi-dark-sky-snow:before {
  content: "\f01b";
}
.wi-dark-sky-sleet:before {
  content: "\f0b5";
}
.wi-dark-sky-wind:before {
  content: "\f050";
}
.wi-dark-sky-fog:before {
  content: "\f014";
}
.wi-dark-sky-cloudy:before {
  content: "\f013";
}
.wi-dark-sky-partly-cloudy-day:before {
  content: "\f002";
}
.wi-dark-sky-partly-cloudy-night:before {
  content: "\f031";
}
.wi-dark-sky-hail:before {
  content: "\f015";
}
.wi-dark-sky-thunderstorm:before {
  content: "\f01e";
}
.wi-dark-sky-tornado:before {
  content: "\f056";
}

/* ------------------------------------------------------------ */

html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

body
{
  background-color: black;
  margin: 0px;
}
