mat-grid-list
{
  overflow: hidden;
}

mat-grid-tile.today
{
  box-shadow: 3px 3px 3px 1px #000000;
  border-radius: 30px;
  background-color:#00002a;
}

mat-grid-tile
{
  xbackground-color: pink;  /*  for testing  */
}
