img
{
  position:  absolute;
  top:       50%;
  left:      50%;
  transform: translate(-50%, -50%);
}

img.base
{
  z-index:   0;
}

img.overlay
{
  z-index:   1;
}

img.dyn-overlay
{
  z-index:   99;
}
